html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { font-size: 16px; }
.mortgage-calculator-section {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 70% 30%;
}
.mortgage-calculator-section .mortgage-inputs {
	display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 30px);
    grid-gap: 2rem;
    height: 100vh;
    justify-content: center;
	align-content: center;
}
.mortgage-calculator-section .mortgage-inputs__group {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 30px 30px;
	position: relative;
}


.mortgage-calculator-section .mortgage-inputs__group { grid-column: 1/6; }
.mortgage-calculator-section .home-value-input { grid-column: 1/3; }
.mortgage-calculator-section .loan-value-input { grid-column: 3/6; }


.mortgage-calculator-section .mortgage-inputs__results {
	align-self: center;
	transform: translate(0, -50%);

}
#results {
	color: red;
	font-weight: 800;
	font-size: 3.5rem;
	margin: 0;
}
#amount {
	background: #e5e5e5;
	color: red;
}

.has-error input,
.has-error input:focus { border: 1px solid red; outline: 0; }
.mortgage-inputs--error {
	grid-column: 2/3;
	display: none;
	font-style: italic;
	color: red;
}
.mortgage-inputs__group > i {
	position: absolute;
	display: block;
	transform: translate(0, -50%);
	top: 50%;
	pointer-events: none;
	width: 25px;
	text-align: center;
}
.dollar-group > i { left: 150px; }
.percent-group > i { right: 0; }
.dollar-group input { padding-left: 25px; }